@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Outfit:wght@900&family=Roboto:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
}

.container{
    border: solid 2px rgb(255, 255, 255);
    padding: 15px;
    width: 320px;
    height: 500px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-radius: 10px;
    background-color: #ffffff; 
   
}
.container:hover{
    transform:scale(1.05);
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* .box{
     30vw 
    width: 30vw;
  height: 90%;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 5%;
    
    
} */

.img{
    margin-right: auto;
    width:99%;
    margin-left: auto;
    border-radius: 10%;
}
img{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}
.text{
    width: 250px;
    height: 200px;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
   

}
h2{
    
margin-top: 0.5em;
margin-bottom: 15px;
font-family:  'Outfit', sans-serif;;
font-size: 18px;
text-align: center;
font-weight: 700;
}
p{
   
    color:hsl(210, 8%, 66%);
    
  text-align: center;
    font-weight: 400;
}
/* .span-block{
    display: block;
    text-indent: 100px;
} */
@media screen and (max-width: 820px) {
    body {
       
        flex-direction: column;
    }
}


